.loginDiv {
    margin-left: 825px;
    margin-top: -220px;
    max-width: 400px;
    border: 0.5px solid;
    border-radius: 10px;
    border-color: lightgray;
    box-shadow: 3px 3px 5px black;
    background-color: white;
}

.inputField {
    width: 350px;
    margin-left: 50px;
    margin-left: -155px;
}

.forgotPasswordLink{
    width: 350px;
    margin-left: -150px;
}

.homeDiv {
    padding-right: 40%;
    padding-left: 0px;
    margin-right: 40%;
    margin-left: auto;
    margin-top: 8%;
}

.h1 {
    padding-left: 90px;
    font-weight: bold;
    font-size: 53px;
}

.paragraph {
    margin-top: 15px;
    margin-left: 140px;
    text-align: left;
    font-size: large;
}
